<html>
  <head>
    <title>Add a Location</title>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.4.15"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="location.js"></script>

    <h1> When and Where </h1>
    <div>
      <input type="search" id="address-input" placeholder="Where are we going?" />

      <p>Date: <input type="text" id="datepicker"></p>

      <button id="shareBut" type="button" onclick="createPlan()" >Share</button>

      <div id="result"><div>

    </div>


  </body>
</html>